.main_login{
  .main_login_background{
    background-image: url('/storage/img/backgrounds/background-login.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 552px;
  }
}

